<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{site_title}}</title>

  <link href="/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" />
  <link href="/bootstrap/css/bootstrap-responsive.min.css" media="all" rel="stylesheet" />
  <link href="/datepicker/css/datepicker.css" media="all" rel="stylesheet" />
  <link href="/select2/select2.css" media="all" rel="stylesheet"/>
  <link href="/css/submission.css" media="all" rel="stylesheet"/>

</head>

<body lang="en">

{{> navbar}}

<!-- CAROUSEL
================================================== -->

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item">
            <img src="img/slide-01.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Cool Project</h1>
                    <p class="lead">This would be a cool project for you to help us with. Do you have any cool photos for us to use?</p>
                    <a class="btn btn-large btn-primary" href="potluck-story.html">submit photo</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->

  <div class="submission-form container-fluid">
      <div class="row-fluid">
          <div class="span12">
              {{{body}}}
          </div><!-- /.span12-->
      </div><!-- /.row-fluid -->
  </div><!-- /.submission-form" -->


</body>


<script src="/js/ios-orientationchange-fix.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/select2/select2.min.js"></script>
<script src="/js/submission.js"></script>
<script>
    $(document).ready(function() {
    });
</script>

</html>