{{#submission}}
<div class="row-fluid photo">
    <div class="span10 offset1">
        <h3>Submitted: {{contact_name}} {{#if location}}({{location}}){{/if}}</h3>
        <img src="{{url}}">
    </div>
</div>
<div class="row-fluid description">
    <div class="span10 offset1">
        <p>{{caption}}</p>
    </div>
</div>

<!-- FOOTER -->
<div class="row copyright">
    <div class="span10 offset1">
        <p class="muted credit">© 2013 National Public Radio. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </div>
</div>
{{/submission}}