<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="inputName">Your Name</label>
        <div class="controls">
            <input type="text" id="inputName" placeholder="Your Full Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Your Email</label>
        <div class="controls">
            <input type="text" id="inputEmail" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputTheme">Call-Out:</label>
        <div class="controls">
            <input type="text" id="inputTheme" placeholder="">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn">Sign in</button>
        </div>
    </div>

</form>

<!--

1. Contact Name – required. Text field
2. Contact Email – optional, Text field
3. Theme/Call-out - auto–populated (depending how you got there) with an option to change to any active call-out (up to latest 10)

-->