*{
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    width: 100%;
    height:100%;
}

#curatorContainer{
    width: 100%;
    height:100%;
    background-color: #DDDDD;
}
.curator-container{
    border: 1px solid black;
    float: left;
    min-height: 600px;
}
.story-item{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 150px;
}
.droppableArea{
    height:10px;
}
#storyContainer{
    height: 100%;
    width: 75%;
}

#assetContainer{
    height: 100%;
    width: 25%;
}