<div id="curator">
    {{view Ember.Select contentBinding="stories" selectionBinding="selectedStory"
            optionLabelPath="content.name" optionValuePath="content.id"
            prompt="Choose a story"}}
    <button {{action loadStory}}>Load Story</button>
    <div id="curatorContainer">
        {{view Curator.StoryView id="storyContainer" class="curator-container" controllerBinding="Curator.StoryController" }}

        {{view Curator.AssetsView id="assetContainer" class="curator-container"}}

    </div>
</div>