<div id="storyContainer" class="curator-container">
    <h1>{{content.name}}</h1>
    {{#each  item in content.items }}
        {{view Curator.StoryItemView contentBinding="item"}}
    {{/each}}

    <button {{action loadItem}}> action </button>
</div>